@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.overflow {
  overflow: auto;
  overflow-x: hidden;
}
.ml-auto {
  margin-left: auto;
}
.player {
  color: var(--player-color); /* Verwendung der CSS-Variable für die Farbe */
}
.content-box {
  background-image: url("@/assets/pictures/tilebackground.jpg");
  background-size: cover; /* Bild so anpassen, dass es die gesamte Fläche ausfüllt */
  background-position: top center; /* Positionierung der Schaumkrone */
  background-repeat: no-repeat; /* Verhindere Wiederholungen des Hintergrundbilds */
  margin: 1vh;
  padding: 2vh;
  border-radius: 5vh;
  border: 0.3vh solid black;
  overflow: visible;
  background-size: 115% 100%;
  border: 0.1vh solid #dee2e6;
  border-radius: 5vh;
  color: white;
  height: 80vh;
}

.background {
  /* Hintergrundbild */
  background-image: url("@/assets/pictures/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Vollbildgröße */
  width: 100vw;
  height: 100vh;

  /* Positionierung des Inhalts */
  display: flex;
  flex-direction: column; /* Elemente vertikal anordnen */
  align-items: flex-start; /* Inhalt oben beginnen */
}
.container {
  width: 100%;
  max-width: 100%;
}
.gear-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
